body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    background-color: whitesmoke;
}
.grid-container {
    background-color: rgb(140, 140, 140);
    border: 10px solid rgb(38, 84, 38);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  repeat(4, 1fr);
    /*grid-auto-rows: 100px;*/
    grid-gap: 10px 20px;
}
.grid-item {
    background-color: rgb(226, 226, 226);
    border: 5px solid rgb(87, 56, 119);
    padding: 20px;
}
.grid-item-1 {
    grid-column: 1/3;
}
.grid-item-2 { 
    grid-row: 1/3;
    grid-column: 3/4;
}
.grid-item-3 {
    grid-row: 2/span 2;
    grid-column: 1/span 2;
}
.grid-item-4 {
   /* justify-self: center;
    align-self: center; */
    place-self: center;

}
.grid-item-5 {
    grid-area: 4/1/span 1/span 3 ;
}
